{% extends 'base.twig'%}
        {%block title%}
Frisdrankautomaat
        {%endblock%}
{%block header%}
<div class="container">
    <h1>Frisdrankautomaat</h1>
</div>
{%endblock header%}
{%block content%}

<!-- Automaat -->
<div id="automaat">
    <div>
        <!-- imgmap -->
        <img class="imgmap" alt="vendingmachine" src="img/vendingmachine.jpg" usemap="#vendingmachine" height="600" width="600">
        <map name="vendingmachine">
            <area shape="rect" alt="admintoegang" id="admintoegang" title="admin toegang" coords="394,93,427,133" href="adminlogin.php"/>
            <area shape="circle" alt="geld terug" id='geldterug' title="geld terug" coords="394,185,5" href="automaatcontroller.php?action=geldterug"/>
            <area shape="rect" id="ingave" alt="steek hier je geld" title="steek hier je geld" coords="410,170,430,200" href=""/>
        </map>
    </div>
</div>
<!-- LEEG indicator -->
<div class="leegholder"></div>

<!-- saldolabel -->
<label  id="saldo"> 0.00 </label>

<!-- geldknoppen -->
<div class='portefeuille'>
    <div class="muntenholder">
        <label>Click a coin or drag it to the coinslot</label>
    </div>
</div>

<div id="canimgholder" class="canimgholder" ></div>

<!-- errorrmsg -->
<div id="errorholder"></div>

<!-- teruggave overzicht -->
        {%endblock%}

{% block scripts%}
<script src="js/vendor/jquery/js/jquery-1.11.1.js"></script>
<script src="js/vendor/jquery/development-bundle/ui/jquery.ui.core.js"></script>
<script src="js/vendor/jquery/development-bundle/ui/jquery.ui.widget.js"></script>
<script src="js/vendor/jquery/development-bundle/ui/jquery.ui.mouse.js"></script>
<!-- <script src="js/vendor/jquery/development-bundle/ui/jquery.ui.draggable.js"></script> -->
<script src="js/automaatjs.js "></script>
<!-- <script src="js/coindrag.js "></script> -->
{%endblock%}